.notification {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    background-color: #F5F5F5;
}

.phonebook {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
}
